<ul class="menu menu-horizontal bg-gray-800 rounded-box w-full">
  <span class="self-center px-4">Search by:</span>
  @if (isSearchPage() && !isDetailsPage()) { @for (route of routes; track route.key) {
  <li class="mr-2">
    <a
      [routerLink]="[route.path]"
      [queryParams]="{ q: searchService.navigationHistory.get(route.key) || null }"
      [routerLinkActive]="['bg-primary/80', 'font-bold']"
      class="text-white"
    >
      <img src="{{ route.icon }}" alt="{{ route.label }} Icon" class="h-6 w-6 inline-block" />
      <span class="hidden lg:block">{{ route.label }}</span>
    </a>
  </li>
  } }@else if(isDetailsPage()) {
  <li>
    <button (click)="goBack()" type="button" class="bg-primary/20 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M11 18.75a.74.74 0 0 1-.53-.22l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 1.06L6.06 12l5.47 5.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22"
        />
        <path fill="currentColor" d="M19 12.75H5a.75.75 0 0 1 0-1.5h14a.75.75 0 0 1 0 1.5" />
      </svg>
      <span class="hidden lg:block">Go back</span>
    </button>
  </li>
  }
</ul>
