@if(!isLoading() && countries().length === 0) {
<article class="w-full h-[60vh] flex place-content-center flex-wrap">
  <div class="card text-primary-content w-full h-fit lg:w-1/2 lg:mx-auto">
    <div class="card-body">
      <h2 class="text-primary text-center text-2xl">
        @if(!hasError()) {Find your favorite country!} @else {No results found}
      </h2>
      <p class="text-primary text-center">
        @if(!hasError()) {Use the search bar to find information about any country in the world.}
        @else {Try with a different search term.}
      </p>
      <div class="card-actions justify-center mt-4">
        <button (click)="searchNow()" type="button" class="btn btn-neutral">
          @if(!hasError()) {Search now} @else {Search again}
        </button>
      </div>
    </div>
  </div>
</article>
}

<!--  -->
@if(!isLoading() && countries().length > 0){
<article class="overflow-x-auto h-[70vh] overflow-y-auto">
  <table class="table text-center">
    <thead class="sticky top-0 bg-gray-800 z-[2]">
      <tr>
        <th></th>
        <th
          class="flex flex-nowrap justify-between text-start cursor-pointer hover:bg-gray-900"
          (click)="toggleSort('name')"
          [class.bg-gray-900]="sortKey() === 'name'"
        >
          Country @if(sortKey() === 'name') {
          <app-sort-buttons [sortOrder]="sortOrder()"></app-sort-buttons>
          }
        </th>
        <th>Capital</th>
        <th
          class="flex flex-nowrap justify-between cursor-pointer hover:bg-gray-900"
          (click)="toggleSort('population')"
          [class.bg-gray-900]="sortKey() === 'population'"
        >
          Population @if(sortKey() === 'population') {
          <app-sort-buttons [sortOrder]="sortOrder()"></app-sort-buttons>
          }
        </th>
        <th>Region</th>
        <th>Subregion</th>
        <th>Independent</th>
      </tr>
    </thead>

    <tbody>
      @for (country of countries() | sortPipe:sortKey():sortOrder(); track country.name) {
      <tr>
        <th>
          <div class="tooltip tooltip-right z-[1]" data-tip="Go to Details">
            <a [routerLink]="['/', paths.search, paths.code, country.code]" class="text-primary">
              <span class="block md:hidden">Details</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="m19.5 12l-5-5m5 5l-5 5m5-5h-10c-1.667 0-5 1-5 5"
                />
              </svg>
            </a>
          </div>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="country.flags.svg" [alt]="country.name" />
              </div>
            </div>
            <div class="text-start">
              <div class="font-bold">{{ country.name | titlecase }}</div>
              <div class="text-sm opacity-50">{{ country.code }}</div>
            </div>
          </div>
        </td>
        <td>
          {{ country.capital }}
        </td>
        <td>
          {{ country.population | number }}
        </td>
        <td>
          {{ country.region }}
        </td>
        <td>{{ country.subregion }}</td>
        <td>
          <span
            class="btn btn-sm"
            [class.btn-primary]="country.independent"
            [class.btn-error]="!country.independent"
          >
            {{ country.independent | booleanPipe }}
          </span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</article>

}
