<section class="w-full h-full">
  <label class="input w-full lg:w-1/2 my-8">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input
      [disabled]="isLoading()"
      #searchInput
      type="text"
      class="grow placeholder:opacity-65 placeholder:italic"
      [placeholder]="placeholder()"
      (keyup)="inputValue.set($event.target.value)"
    />
  </label>

  @if (isLoading()) {
  <article class="w-full h-[70vh] flex place-content-center">
    <span class="loading loading-bars loading-xl"></span>
  </article>
  }

  <!--  -->
  <app-table
    [countries]="countries()"
    [isLoading]="isLoading()"
    [hasError]="hasError()"
    [inputElement]="inputElement()"
  ></app-table>
</section>
