<section class="w-full h-full">
  <label class="input w-full lg:w-1/2 my-8">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input
      #searchInput
      type="search"
      class="grow"
      placeholder="Buscar país..."
      (change)="handleChange($event)"
    />
  </label>

  @if (isLoading()) {
  <article class="w-full h-[70vh] flex place-content-center">
    <span class="loading loading-bars loading-xl"></span>
  </article>
  } @if(!isLoading() && countries().length === 0 && !hasError()) {
  <article class="w-full h-[60vh] flex place-content-center flex-wrap">
    <div class="card text-primary-content w-full h-fit lg:w-1/2 lg:mx-auto">
      <div class="card-body">
        <h2 class="text-primary text-center text-2xl">Encuentra tu país favorito!</h2>
        <p class="text-primary text-center">
          Usa el buscador para encontrar información de cualquier país del mundo.
        </p>
        <div class="card-actions justify-center mt-4">
          <button (click)="searchNow()" type="button" class="btn btn-primary">Buscar ahora</button>
        </div>
      </div>
    </div>
  </article>
  }@if(!isLoading() && countries().length === 0 && hasError()) {
  <article class="w-full h-[60vh] flex place-content-center flex-wrap">
    <div class="card text-primary-content w-full h-fit lg:w-1/2 lg:mx-auto">
      <div class="card-body">
        <h2 class="text-primary text-center text-2xl">No hemos encontrado resultados</h2>
        <p class="text-primary text-center">Prueba con otro término de búsqueda.</p>
        <div class="card-actions justify-center mt-4">
          <button (click)="searchNow()" type="button" class="btn btn-primary">
            Volver a buscar
          </button>
        </div>
      </div>
    </div>
  </article>
  } @if(!isLoading() && countries().length > 0){
  <article class="overflow-x-auto h-[70vh] overflow-y-auto">
    <table class="table">
      <thead class="sticky top-0 bg-gray-800 z-10">
        <tr>
          <th></th>
          <th>País</th>
          <th>Región</th>
          <th>Subregión</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (country of countries(); track country.name) {
        <tr>
          <th>
            <div class="tooltip tooltip-right z-30" data-tip="Marcar como favorito">
              <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m12 21l-8.8-8.3A5.6 5.6 0 1 1 12 6a5.6 5.6 0 1 1 8.9 6.6z"
                  />
                </svg>
              </button>
            </div>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img [src]="country.flags.svg" [alt]="country.name" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ country.name }}</div>
                <div class="text-sm opacity-50">{{ country.code }}</div>
              </div>
            </div>
          </td>
          <td>
            {{ country.region }}
          </td>
          <td>{{ country.subregion }}</td>
          <th>
            <button class="btn btn-ghost btn-xs">Ir a Detalles</button>
          </th>
        </tr>
        }
      </tbody>
    </table>
  </article>
  }
</section>
